
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

@font-face {
    font-family: 'FiraCode Regular';
    src: url('/../fonts/FiraCode-Regular.otf'); /* IE9 Compat Modes */
    font-weight: normal;
    font-style: normal;
}


a {
	text-decoration: none !important;
	outline: none !important;
}

aside.sidebar {
    position: fixed;
    width: 240px;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: -240px;
    background-color: #f2f2f2;
    border-right: 1px solid #ededed;
    overflow-y: scroll;
    z-index: 9;
}

aside.sidebar.active {
	margin-left: 0px;
}

.hamburger {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 6px;
}

.hamburger span {
    padding: 1px 0 0 0;
    width: 14px;
    display: block;
    background: #000;
    margin: 5px;
}

.hamburger span:first-child {
    margin-top: 14px;
    width: 22px;
}

.hamburger span:last-child {
    width: 20px;
}

.sidebar-form {
	margin: 2em 10px;
}

.sidebar-form input {
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    background-color: #e3e3e3;
    font-family: $font-family-sans-serif;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    color: #434C5F !important;
    font-size: 18px;
    background: none;
    border: none;
}

.brand-name {
    color: #434C5F;
    padding: 7px 0 0 9px;
    display: inline-block;
    font-size: 18px;
    width: 200px;
}

section.main-container {
    margin-left: 240px;
    height: 100%;
    overflow-y: scroll;
    padding: 2em;
    min-height: 100vh;
    width:980px;
}

section.main-container.active {
	margin:0 auto;
}

.leaf-through-content {
	font-family: $secondary-font-family;
	font-weight: 300;
	font-size: 17px;
}

.leaf-through-content h1,
.leaf-through-content h2,
.leaf-through-content h3,
.leaf-through-content h4,
.leaf-through-content h5,
.leaf-through-content h6 {
    font-weight: bold;
}

.leaf-through-content h1 {
	color: rgba(0,0,0,.7);
}

.leaf-through-content p {
    margin-top: 30px;
    line-height: 30px;
}

.navigate-blog {
    position: fixed;
    width: 50px;
    height: 60px;
    right: 10px;
    bottom: 25px;
}

.navigate-blog a {
    display: block;
    font-size: 30px;
    margin-top: -14px;
    padding: 0 10px;
    text-align: center;
    color: #787A7E;
}

.maximum a {
    color: #787A7E;
    font-size: 26px;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 38px;
    text-align: center;
}

.leaf-through-content .card {
    padding: 1em 2em 0;
    position:relative;
}

.card .options {
    position: absolute;
    right: 0;
    z-index:9;
}

.options a.post-options {
    width: 30px;
    display: inline-block;
    text-align: center;
}

.options .post-options span {
    background-color: #636b6f;
    width: 4px;
    height: 4px;
    display: block;
    margin: 8px;
    border-radius: 50%;
}

.options ul {
    padding-left: 0;
    list-style: none;
    position: absolute;
    left: -120px;
    font-size: 12px;
    top: 7px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
}

.options ul a {
    padding: 8px 10px;
    display: block;
    text-align: left;
    width: 110px;
    border-radius: 3px;
    color: #636b6f !important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.options ul a:hover {
    background-color: #e4e4e4;
    border-radius: 0;
}

.author {
    margin: 1em 0 2em;
}

.author .profile-image {
    border-radius: 50%;
}

.author .name {
    display: block;
    font-size: 12px;
    color: #00ab6b;
}

.author .published-on, 
.author .read {
    display: inline-block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.44);
    position: relative;
    padding-right: 10px;
}

.author .description {
    display: block;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: -5px;
    color: rgba(0, 0, 0, 0.44);
}

.author .published-on::after {
    content: ".";
    position: absolute;
    bottom: 0px;
    right: 0;
    font-size: 16px;
}

.no-padding-left {
	padding-left: 0;
}

.no-list-style {
	list-style: none;
	padding-left:0;
}

.links {
    margin: 0 10px 70px;
}

.links li a {
    display: block;
    padding: 10px;
    color: #434C5F;
}

.links li a:hover {
    background-color: #e3e3e3;
    border-radius: 3px;
}

.links li a i {
    margin-right: 5px;
    font-size: 16px;
}

.links li a .badge {
    font-family: $secondary-font-family;
    background-color: #00ab6b;
    float: right;
}

.links li.divider {
    margin: 10px 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    padding-bottom: 6px;
    color: #00ab6b;
}

.sidebar .share-link {
    position: fixed;
    bottom: 0;
    width: 240px;
    margin-left:-240px;
    padding: 15px 10px;
    left: 0;
    background: #f2f2f2;
	border-top: 1px solid #eaeaea;
}

.sidebar .share-link.active {
	margin-left:0;
}

.sidebar .share-link a {
    display: block;
    text-align: center;
    border: 1px solid #02b875;
    padding: 7px 7px 7px 36px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #02b875;
    border-radius: 3px;
    position: relative;
    -webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.sidebar .share-link a:hover,
.sidebar .share-link a:focus,
.sidebar .share-link a:active {
	background: #00ab6b;
	border-color: #00ab6b;
	color: #fff;
}

.share-link a i {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 50px;
}

.modal label,
.settings label {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #434C5E;
    display: inline-block;
}

.form-group {
    margin-bottom:1.5em;
}

.form-group.checkbox {
    margin-bottom: 10px;
    font-family: $font-family-sans-serif;
}

.modal .form-control,
.settings .form-control {
	font-family: $font-family-sans-serif;
	box-shadow: none !important;
	display: block;
	width: 92%;
	border: 1px solid #D4D9E2;
	border-radius: 3px;
	padding: 8px 15px;
	font-size: 14px;
	color: #596377;
	outline: 0;
	-webkit-transition: border-color .2s ease;
	transition: border-color .2s ease;
	resize: none;
}

.modal .form-control:focus,
.settings .form-control:focus {
	border-color: #8C96A9;
}

.modal .checkbox label {
    padding-left: 20px;
    color: #787878;
    font-weight: 400;
}

.modal .checkbox input[type="checkbox"] {
    margin-left: 0px;
}

.form-control::-webkit-input-placeholder {
   font-family: $font-family-sans-serif;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   font-family: $font-family-sans-serif;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   font-family: $font-family-sans-serif;
}

.form-control:-ms-input-placeholder {  
   font-family: $font-family-sans-serif;
}

.btn.btn-primary {
	font-family: $font-family-sans-serif;
    background: #02b875;
    border: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1em;
    -webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
	background: #00ab6b;
	border-color: #00ab6b;
	color: #fff;
}

.modal .btn.btn-primary,
.settings .btn.btn-primary {
    font-family: $font-family-sans-serif;
    background: #fff;
    border: none;
    color: #02b875;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1em;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid #02b875;
}

.modal .btn.btn-primary:hover,
.modal .btn.btn-primary:focus,
.modal .btn.btn-primary:active,
.settings .btn.btn-primary:hover,
.settings .btn.btn-primary:focus,
.settings .btn.btn-primary:active{
    background-color: #02b875;
    color:#fff;
}

.inbox .messages {
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 0;
}

.messages .row {
    padding: 10px 0;
    border-top: 1px solid #f2f2f2;
}

textarea.crayon-plain {
    display: none;
}

.crayon-table {
    width: 100%;
}

.crayon-table .crayon-code p {
    margin-top: 0px;
    line-height: 20px;
}

.crayon-table .crayon-num {
    margin: 0;
    display: none;
}

.crayon-table .crayon-num {
    margin: 0;
    display: none;
}

.crayon-table .crayon-code {
    background: #f2f2f2;
    padding: 20px 25px;
    width: 100%;
    border-radius: 3px;
    font-family:"FiraCode-Retina", "FiraCode-Regular", sans-serif;
}

.leaf-through-content .card a {
    color: #00ab6b !important;
}

.crayon-theme-github .crayon-pre span {
    font-family: "FiraCode Regular", sans-serif !important;
}

.inbox .messages .row {
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
}

.inbox .messages .row.new {
    font-weight: bold;
    background: #f0f0f0;
    position:relative
}

.inbox .messages .author {
    margin: 0;
}

.inbox .messages .row.new .title::before {
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #00ab6b;
    position: absolute;
    left: 0;
    top: 8px;
}

@media (min-width:240px) and (max-width: 480px) {
    section.main-container {
        padding: 1em;
        width: 100%;
        opacity:.2;
    }

    section.main-container.active {
        opacity:1;
    }

    .leaf-through-content .card {
        padding: 3em 1em 0;
    }

    .author {
        margin: 1em 0 2em;
        text-align: center;
    }

    .leaf-through-content h1 {
        font-size:26px;
    }

    .leaf-through-content p {
        margin-top: 20px;
        line-height: 24px;
        font-size: 15px;
        color: rgba(0,0,0,.8);
    }
}

@media (min-width:481px) and (max-width: 768px) {
    section.main-container {
        padding: 1em;
        width: 100%;
        max-width:488px;
        opacity:.2;
    }
    section.main-container.active {
        opacity:1;
        max-width:100%;
    }
}

@media (min-width:769px) and (max-width: 980px) {
    section.main-container {
        padding: 1em;
        width: 100%;
        max-width:700px;
    }

    section.main-container.active {
        max-width:100%;
    }

    .leaf-through-content h1 {
        font-size: 28px;
    }
}

@media (min-width:981px) and (max-width: 1024px) {
    section.main-container {
        padding: 1em;
        width: 100%;
        max-width:744px;
    }

    section.main-container.active {
        max-width:100%;
    }
}

@media (min-width:1025px) and (max-width: 1200px) {
    section.main-container {
        padding: 1em;
        width: 100%;
        max-width:920px;
    }

    section.main-container.active {
        max-width:100%;
    }
}

